[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
    url = https://github.com/tmux-plugins/tpm
    ignore = dirty
[submodule "zsh/prezto"]
	path = zsh/prezto
    url = https://github.com/sorin-ionescu/prezto
    ignore = dirty
[submodule "vim"]
	path = vim
    url = https://gitlab.com/J.Byte/vimfilers.git
